# Ignore VS Code settings
.vscode/

# Ignore Python virtual environment
myenv/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
*.log

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Linux
linux/Flutter/ephemeral/

# Web
web/.dart_tool/

# IDE
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# Node (if any JS dependencies exist)
node_modules/

# Other
firebase-debug.log